@model List<Models.EntityFramework.Phong>
@{
    ViewBag.Title = "Thongkephong";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

@if (TempData["AlertMessage"] != null)
{
    <div class="alert @TempData["AlertType"] hide" id="AlertBox">

        <strong>
            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> Thông báo :
            <span>@TempData["AlertMessage"]</span>
        </strong>
    </div>

}
<script>
    $('#AlertBox').removeClass('hide');
    $('#AlertBox').delay(3000).slideUp(1000);
</script>


<div class="portlet box red">
    <div class="portlet-title" id="titletable">
        <div class="caption titletable" id="listtable">
            <div id="lefttitle">
                <i class="fa fa-building-o icon icon-title" aria-hidden="true"></i><span class="title">Thống Kê Phòng</span>
            </div>

            @{
                string active = Request.QueryString["tinhhinh"];
            }
           
            <div id="righttitle">
                <a href="/QLPhong/Thongkephong?tinhhinh=tc" class="btn-title @if (active=="tc"){@("btn-title-active")}">Tất cả</a>
                <a href="/QLPhong/Thongkephong?tinhhinh=" class="btn-title @if (active==""){@("btn-title-active")}">Phòng trống</a>
                <a href="/QLPhong/Thongkephong?tinhhinh=C1" class="btn-title @if (active=="C1"){@("btn-title-active")}">Khu C1</a>
                <a href="/QLPhong/Thongkephong?tinhhinh=C2" class="btn-title @if (active=="C2"){@("btn-title-active")}">Khu C2</a>
                <a href="/QLPhong/Thongkephong?tinhhinh=C3" class="btn-title @if (active=="C3"){@("btn-title-active")}">Khu C3</a>
                <a href="/QLPhong/Thongkephong?tinhhinh=C4" class="btn-title @if (active=="C4"){@("btn-title-active")}">Khu C4</a>
                <a href="/QLPhong/Thongkephong?tinhhinh=Lao" class="btn-title @if (active=="Lao"){@("btn-title-active")}">Khu Lào</a>
            </div>
        </div>
        <div class="tools"> </div>
    </div>

    <div class="portlet-body">
        @using (Html.BeginForm("ThongKePhong", "QLPhong", FormMethod.Post))
        {
            int stt = 0;
            int n = 1;
            int k = 2;
            <table class="table table-striped table-bordered table-hover" id="tabledanhba">
                <thead id="theadtable">
                    <tr>
                        <th> STT </th>
                        <th> Mã Phòng  </th>
                        <th> Khu </th>
                        <th> Số Giường </th>
                        <th> Tình Trạng </th>
                        <th> Xem chi tiết </th>
                        

                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="rowcolor@{if (stt % 2 == 0) {@n} else {@k}}" id="row_@item.STT">
                            <td> @(stt = stt + 1)  </td>
                            <td> @item.MaPhong</td>
                            <td> @item.Khu </td>
                            <td> @item.SoGiuong </td>

                            @*<td> @(string.Format("{0:dd/MM/yyyy}", @item.NgayGiaoViec)) </td>*@
                            <td>
                                @{
                                    if (item.SoSV < item.SoGiuong)
                                    {
                                        if (item.SoSV == 0)
                                        {
                                            <p>Chưa có sinh viên</p>
                                        }
                                        else
                                        { <p> Chưa đủ sinh viên </p> }

                                    }
                                    if (item.SoSV == item.SoGiuong)
                                    { <p style="color:orangered">Đã đủ sinh viên</p>}
                                }
                               
                            </td>

                            <td class="btncenter">
                                <a class="btn btn-default " data-toggle="modal" onclick="isread('@item.STT')" href='#modal-@item.STT'><i class="fa fa-eye" aria-hidden="true"></i> Xem Chi tiết</a>

                                <div class="modal fade" id="modal-@item.STT">
                                    <div class="modal-dialog modelwidth">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                <h4 class="modal-title text-center">Quản Lý Phòng</h4>
                                                @*  *@
                                            </div>
                                            <div class="modal-body">
                                                <div class="toppad">
                                                    <div class="panel panel-info panelboder">
                                                        <div class="panel-heading">
                                                            <h3 class="panel-title">Thông tin chi tiết phòng</h3>
                                                        </div>
                                                        <div class="panel-body scroll" id="scrollbar">
                                                            <div class="row">
                                                                <table class="table table-bordered table-hover">
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="tdleft">Mã phòng:</td>
                                                                            <td class="tdright">@item.MaPhong</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="tdleft">Khu:</td>
                                                                            <td class="tdright">@item.Khu</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="tdleft">Số Giường:</td>
                                                                            <td class="tdright">@item.SoGiuong</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="tdleft">Tình Trạng Phòng </td>
                                                                            <td class="tdright">
                                                                                @{
                                                                                    if (item.SoSV < item.SoGiuong)
                                                                                    {
                                                                                        if (item.SoSV == 0)
                                                                                        {
                                                                                            <p>Chưa có sinh viên</p>
                                                                                        }
                                                                                        else
                                                                                        { <p> Chưa đủ sinh viên </p> }

                                                                                    }
                                                                                    if (item.SoSV == item.SoGiuong)
                                                                                    { <p>Đã đủ sinh viên</p>}

                                                                                }
                                                                                @item.TinhTrang
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="tdleft">Loại Phòng</td>
                                                                            <td class="tdright">@item.MaLoaiPhong</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="tdleft">Giá </td>
                                                                            <td class="tdright">
                                                                                @{
                                                                                    if (item.MaLoaiPhong == "P01")
                                                                                    {<p>100000 đồng</p> }
                                                                                    if (item.MaLoaiPhong == "P02")
                                                                                    {<p>70000 đồng</p> }
                                                                                    if (item.MaLoaiPhong == "P03")
                                                                                    {<p>50000 đồng</p> }
                                                                                    if (item.MaLoaiPhong == "P04")
                                                                                    {<p>0 đồng</p> }



                                                                                }
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="tdleft">Số Sinh viên</td>
                                                                            <td class="tdright">
                                                                                @{
                                                                                    if (item.SoSV == null)
                                                                                    {
                                                                                        <p> Chưa có sinh viên ở</p>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <p>Số sinh viên trong phòng là : @item.SoSV</p>
                                                                                    }
                                                                                }
                                                                            </td>
                                                                        </tr>

                                                                    </tbody>

                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">


                                                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                           
                        </tr>

                                                                                    }

                </tbody>
            </table>
                                                                                    }
    </div>


</div>

@section scripts{
    <script>
        function deletephong(iditem) {
            //if (confirm("Bạn chắc chắn muốn xóa công việc này !!!")) {
            $.ajax({
                url: '@Url.Action("Delete", "QLPhong")' + "?id=" + iditem,
                success: function (data) {

                }
            });

        }
        @*function isread(id) {

            $.ajax({
                url: '@Url.Action("Dhcv_DanhSachCongViecbaocaodaxem", "DieuHanhCongViec")' + "?tinhhinh=" + id,
                success: function (data) {
                    if (data == "true") {
                        var cv = $('.demcv').html();
                        var n_cv = parseInt(cv);
                        if (n_cv > 0)
                        { $('.demcv').text(n_cv - 1); }
                    }
                }
            });


        }*@
    </script>

}










